<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="lab la-accusoft"></span><span>Fruit Fresher</span> </h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a routerLink="/admin/home" class="active"><span class="las la-igloo"></span>
                <span>Dashboard</span></a>
            </li>
            <li>
                <a routerLink="/admin/user"><span class="las la-users"></span>
                <span>User</span></a>
            </li>
            <li>
                <a routerLink="/admin/categories"><span class="las la-table"></span>
                <span>Categories</span></a>
            </li>
            <li>
                <a routerLink="/admin/product"><span class="las la-table"></span>
                <span>Product</span></a>
            </li>
            <li>
                <a routerLink="/admin/order"><span class="la la-opencart"></span>
                <span>Order</span></a>
            </li>
            <li>
                <a routerLink="/home"><span class="la la-opencart"></span>
                <span>Shopping Page</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="maincontent">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dasboard
        </h2>
        <div class="wrapuser">
            <img src="../../../assets/images/person_1.jpg" width="30px" height="30px" alt="">
            <div>
                <h4>{{username}}</h4>
                <small>{{roles}}</small>
            </div>
            <div class="sigout" *ngIf="username">
                <p (click)="signout();">Sign Out</p>
            </div>
        </div>
    </header>
    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Customer</span>
                </div>
                <div>
                    <span class="la la-users"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>project</span>
                </div>
                <div>
                    <span class="la la-table"></span>
                </div>
            </div>
            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Shopping</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>
        </div>
        <div class="recent-grid">
            <div class="project">
                <div class="card">
                    <div class="card-header">
                        <h3>Recent Order</h3>
                        <button>See All <span class="las la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>Order ID</td>
                                        <td>Full Name</td>
                                        <td>Last Name</td>
                                        <td>Address</td>
                                        <td>status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nguyen Thanh Cong</td>
                                        <td>Cong</td>
                                        <td>Kim Hoa</td>
                                        <td><span class="status pupple"></span>
                                            review
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Nguyen Thanh Cong</td>
                                        <td>Cong</td>
                                        <td>Kim Hoa</td>
                                        <td><span class="status pink"></span>
                                            pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Nguyen Thanh Cong</td>
                                        <td>Cong</td>
                                        <td>Kim Hoa</td>
                                        <td><span class="status green"></span>
                                            inprogess
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="customer">
                <div class="card">
                    <div class="card-header">
                        <h3>New Customer</h3>
                        <button>See All <span class="las la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <div class="customer">
                            <div class="infor">
                                <img width="40px" height="40px" src="../../../assets/images/person_2.jpg" alt="">
                                <div class="infor-name">
                                    <h4>John Wick</h4>
                                    <small>Client</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="las la-user-circle"></span>
                                <span class="las la-comment"></span>
                                <span class="las la-phone"></span>
                            </div>
                        </div>
                        <div class="customer">
                            <div class="infor">
                                <img width="40px" height="40px" src="../../../assets/images/person_2.jpg" alt="">
                                <div class="infor-name">
                                    <h4>John Wick</h4>
                                    <small>Client</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="las la-user-circle"></span>
                                <span class="las la-comment"></span>
                                <span class="las la-phone"></span>
                            </div>
                        </div>
                        <div class="customer">
                            <div class="infor">
                                <img width="40px" height="40px" src="../../../assets/images/person_2.jpg" alt="">
                                <div class="infor-name">
                                    <h4>John Wick</h4>
                                    <small>Client</small>
                                </div>
                            </div>
                            <div class="contact">
                                <span class="las la-user-circle"></span>
                                <span class="las la-comment"></span>
                                <span class="las la-phone"></span>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </main>
</div>

